<h1>Редактирование фильма</h1>

<%= render 'form', movie: @movie %>

<%= link_to 'Инфо', @movie %> |
<%= link_to 'Назад', movies_path %> |
<%= link_to 'Удалить', @movie, method: :delete, data: { confirm: 'Вы уверены?' } %>
