// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.second_name {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.third_name {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.photo-frame {
	position: absolute;
}
.image-big {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 400px; 
	/*width: 250px;*/
}

.photo-prev-img {
	height: 400px;
}

