/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= link actors.scss
 *= link movies.scss
 *= link directors.scss
 */
 @import "scaffolds";
 @import "bootstrap";
 @import "tether";


.main-container {
	padding-top: 80px;
	padding-left: 220px;
	padding-right: 20px; 
}

.navbar-fixed-left {
	float: left; 
	min-height: 100%; 
	position: fixed; 
	padding-top: 60px; 
	width: 200px;
}

.main-header {
	position: fixed; 
	width: 100%; 
	background-color: black; 
	z-index: 10;
}

.navbar-brand {
	padding-left:7px;
}

.navbar-static-top {
	float: right;
}