// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-prev-data {
/*	padding-left: 15px;
	padding-right: 15px;
*/}
.title {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.duration {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rating {
	font-size: 8pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.poster-frame {
	position: absolute;
}
.poster-big {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 400px; 
	/*width: 250px;*/
}

.poster-prev-img {
	height: 400px;
}

.movie-description {
	text-align: justify;
}

