<header class="main-header" style="position: fixed; width: 100%; background-color: black; z-index: 10 ">

    <%= link_to "Обзоры", root_path, class: "navbar-brand", style: "padding-left:7px"%>

    <nav class="navbar navbar-static-top" role="navigation" style="float: right;">

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li style="float: left;">
                <form class="form-inline pull-xs-right">
                    <input class="form-control" type="text" placeholder="Название фильма">
                    <button class="btn btn-success-outline" type="submit">Поиск</button>
                </form>
                </li>
            </ul>
        </div>
    </nav>
</header>